 <div class="row mg-top-30">
    <div class="col-xs-4">
      <p>Categorie *</p>
    </div>
    <div class="col-xs-8">
      <select name="categorie" class="field-select field-categorie mg-bottom-10 select-job full">
        <% if (user.details && user.details.categorie) { %><option value="<%= user.details.categorie %>"><%= user.details.categorie %></option><% } %>
        <option name="eleveur">Eleveur</option>
        <option name="garde">Garde d'animaux</option>
        <option name="animalerie">Animalerie</option>
        <option name="toiletteur">Toiletteur</option>
        <option name="association">Association</option>
        <option name="assurance">Assurance & mutuelle</option>
        <option name="autre">Autre</option>
      </select>
    </div>
  </div>

  <div class="row mg-top-10 field-type mg-bottom-20 hidden">
    <div class="col-xs-4">
      <p>Spécialité</p>
    </div>
    <div class="col-xs-8">
      <%- partial ('../partial/select-races.ejs', {cat: user.details.type, undercat: user.details.race}) %>
    </div>
  </div>

  <div class="row mg-top-10">
    <div class="col-xs-4">
      <p>Titre de votre page *</p>
    </div>
    <div class="col-xs-8">
      <input value="<%= user.details.titre || user.pseudo || '' %>" search="titre" name="titre" placeholder="Titre de votre page" class="field mg-bottom-10 ui-autocomplete-input" autocomplete="off" data-title="titre" type="text"/>
    </div>
  </div>

  <div class="row mg-top-10">
    <div class="col-xs-4">
      <p>Numéro Siren *</p>
    </div>
    <div class="col-xs-8">
      <input value="<%= user.details.siren || '' %>" search="siren" name="siren" placeholder="Votre numéro siren" class="field mg-bottom-10 ui-autocomplete-input" autocomplete="off" data-title="siren" type="text"/>
    </div>
  </div>

  <div class="row mg-top-10">
    <div class="col-xs-4">
      <p>Numéro Siret *</p>
    </div>
    <div class="col-xs-8">
      <input value="<%= user.details.siret || '' %>" search="siret" name="siret" placeholder="Votre numéro siret" class="field mg-bottom-10 ui-autocomplete-input" autocomplete="off" data-title="siret" type="text"/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <p>Description *</p>
    </div>
    <div class="col-xs-8">
      <textarea id="description" name="description" placeholder="Présentation de votre page" class="field-area  field-description" maxlength="4000"><%= user.details.description || '' %></textarea>
    </div>
  </div>

  <div class="row mg-top-10 mg-bottom-20">
    <div class="col-xs-4">
      <p>Votre site web</p>
    </div>
    <div class="col-xs-8">
      <input value="<%= user.details.web || '' %>" search="web" name="web" placeholder="Votre site web" class="field mg-bottom-10 ui-autocomplete-input" autocomplete="off" data-title="site web" type="text"/>
    </div>
  </div>

 <div class="row mg-top-10 mg-bottom-20">
   <div class="col-xs-4">
     <p>Votre page facebook</p>
   </div>
   <div class="col-xs-8">
     <input value="<%= user.details.fb || '' %>" search="fb" name="fb" placeholder="Votre page facebook" class="field mg-bottom-10 ui-autocomplete-input" autocomplete="off" data-title="page facebook" type="text"/>
   </div>
 </div>
</div>

<div class="col-xs-12 bg-white bloc-padding-small mg-top-10">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="ttl-h3 bd-grey txt-up mg-top-20 mg-bottom-20">Photos pour illustrer la page</h3>
    </div>
  </div>
  <div class="row  mg-top-20">
    <div class="col-xs-12 col-sm-4">
      <input name="list" value="" type="hidden" id="list-values"/>
      <p>Télécharger vos photos</p>
    </div>
    <div class="col-xs-12 col-sm-8 mg-bottom-20">
      <p class="btn btn-success fileinput-button mg-bottom-20">Cliquez ici
        <input name="images" class="btn btn-success fileinput-button" id="fileupload" type="file" multiple/>
      </p>

      <div id="progress" class="progress hidden">
        <div class="progress-bar progress-bar-success"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="files" class="files col-xs-12 mg-bottom-20 image_preview">
      <% if (user.details && user.details.images) { for (var k in user.details.images) { %>
      <div class="col-xs-12 col-sm-4 bloc-banner mg-bottom-20" id="<%= k %>">
        <div class="row">
          <div class="pursuit-imgContainer43 mg-bottom-10">
            <a class="action-close btn-close sprite-before close" title="Supprimer la bannière" data-id="<%= k %>"></a>
            <img src="<%= user.details.images[k] %>"
                 alt="<%= user.details.title || 'Annonce' %>"
                 class="img-responsive example-image"/>
          </div>
        </div>
      </div>
      <% }}; %>
    </div>
  </div>

</div>
<div class="col-xs-12 bg-white bloc-padding-small mg-top-10">

  <div class="row">
    <div class="col-xs-12">
      <h3 class="ttl-h3 bd-grey txt-up">Ajouter une vidéo youtube</h3>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <img src="/img/YouTube-logo-full_color.png" class="img-responsive" alt="Ajouter une vidéo youtube"/>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="txt-16 mg-top-30 mg-bottom-20">Vous voulez intégrer une vidéo de pour présenter votre élevage ?</p>
          <input type="text" value="<%= user.details.youtube || '' %>" name="youtube" class="field field-youtube" data-title="lien youtube"
                 placeholder="Ex: https://youtu.be/Bm1Yka96fU8"/>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p class="mg-top-20 txt-16">1. Sur youtube, sous votre vidéo, cliquez sur le bouton " <span class="txt-grey">partager</span> " :</p>
      <p><img src="/img/youtube-partager.png" alt="Comment partager une vidéo youtube" class="pd-left-40"/></p>
      <p class="txt-16">2. Copiez le lien, tel que " <span class="txt-grey">https://youtu.be/Bm1Yka96fU8</span> "</p>
    </div>
  </div>
