<%- partial ('../layout/header.ejs') %>
</div>
<div class="container-fluid bg-cat">
  <div class="container mg-top-85">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="row">
          <div class="col-xs-12 bg-white bloc-padding-small">
            <h2 class="ttl-h2 bd-grey mg-bottom-30 txt-up">Votre profil<a href="#deconnexion" title="Se deconnecter du site babies-pets" class="btn btn-deconnexion float-right"><i class="fas fa-sign-out-alt"></i></a></h2>
          <form method="post" class="txt-20 form-edition has-validation-callback" id="form-inscription">
            <div class="row mg-top-10">
              <div class="col-xs-4">
                <p>Votre pseudo</p>
              </div>
              <div class="col-xs-8">
                <input value="<%= user.pseudo || '' %>" name="pseudo" placeholder="Votre pseudo" class="field" data-title="pseudo" data-validation="length required" data-validation-length="min4" type="text"/>
              </div>
            </div>
            <div class="row mg-top-10 bd-grey">
              <div class="col-xs-4 mg-bottom-20">
                <p>Votre nom et prénom</p>
              </div>
              <div class="col-xs-8">
                <input value="<%= user.nom || '' %>" name="nom" placeholder="Votre nom et prénom" class="field" data-title="nom" data-validation="length required" data-validation-length="min4" type="text"/>
              </div>
            </div>
            <div class="row mg-top-20">
              <div class="col-xs-4">
                <p>Votre téléphone</p>
              </div>
              <div class="col-xs-8">
                <input value="<%= user.phone %>" name="phone" placeholder="Votre téléphone" class="field" data-title="téléphone" data-validation="length required" data-validation-length="min10" type="phone"/>
              </div>
            </div>
            <div class="row mg-top-10">
              <div class="col-xs-4">
                <p>Votre département</p>
              </div>
              <div class="col-xs-8">
                <select search="dp" class="ui-autocomplete-select field-select field-departement full" name="departement">
                  <% if (typeof departments !== 'undefined') { for (var key in departments) { %>
                    <option value="<%= key %>" <%- (Number(user.departement) ===  Number(key) ? 'selected="selected"' : '') %>><%= departments[key] %></option>
                  <% }} %>
                </select>
              </div>
            </div>
            <div class="row mg-top-10">
              <div class="col-xs-4">
                <p>Votre adresse</p>
              </div>
              <div class="col-xs-8">
                <input value="<%= user.details.adress || '' %>" name="adress" placeholder="Votre adresse" class="field" data-title="adress" data-validation="length required" data-validation-length="min4" type="adress"/>
              </div>
            </div>
            <div class="row mg-top-10">
              <div class="col-xs-4">
                <p>Votre code postal</p>
              </div>
              <div class="col-xs-8">
                <input value="<%= user.postal || '' %>"  search="cp" name="postal" placeholder="Votre code postal" class="field ui-autocomplete-input" autocomplete="off" data-title="code postal" data-validation="required" data-validation-length="min4" type="postal"/>
              </div>
            </div>
            <div class="row mg-top-10 bd-grey">
              <div class="col-xs-4">
                <p>Votre ville</p>
              </div>
              <div class="col-xs-8">
                <input value="<%= user.ville || '' %>" search="ville" name="ville" placeholder="Votre ville" class="field mg-bottom-30 ui-autocomplete-input" autocomplete="off" data-title="ville" data-validation="required" data-validation-length="min3" type="ville"/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 mg-top-20">
                <input id="publish_button" class="btn float-right" name="publish" value="Valider" type="submit"/>
              </div>
            </div>
          </form>
        </div>

        <div class="col-xs-12 bg-white bloc-padding-small mg-top-20">
          <div class="row">
            <div class="col-xs-6 mg-top-30 mg-bottom-20">
              <p class="txt-20">Eleveur, association, garderie, ...</p>
            </div>
            <div class="col-xs-6 mg-top-20">
              <a href="/mon-compte/gestion-page-profil-eleveur" class="btn" title="Vous êtes éleveur, gérer votre page">gérez votre page</a>
            </div>
          </div>
        </div>

        <div class="col-xs-12 bg-white bloc-padding-small mg-top-20 mg-bottom-20">
          <form method="post" class="txt-20 form-password has-validation-callback" id="form-password">
            <div class="row mg-top-10">
              <div class="col-xs-12">
                <p class="ttl-h3 mg-bottom-30">Modifier votre mot de passe</p>
              </div>
              <div class="col-xs-4">
                <p>Votre mot de passe</p>
              </div>
              <div class="col-xs-8">
                <input value="" name="password" placeholder="Votre mot de passe" class="field" data-title="mot de passe" data-validation="length required" data-validation-length="min4" type="password"/>
              </div>
            </div>
            <div class="row bd-grey mg-top-20">
              <div class="col-xs-4">
                <p>Confirmation de mot de passe</p>
              </div>
              <div class="col-xs-8 mg-bottom-30">
                <input value="" name="confirmPassword" placeholder="Confirmez votre mot de passe" class="field" data-title="mot de passe" data-validation="length required" data-validation-length="min4" type="password"/>
              </div>
            </div>
            <div class="row">
              <input id="publish_button" class="btn mg-top-20 float-right" name="publish" value="Valider" type="submit"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="col-xs-12">
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 bg-white bloc-padding-small">
          <form method="post" class="txt-20 form-edition has-validation-callback" id="form-telecharger">
            <p class="ttl-h3">Votre photo de profil</p>
            <div class="mg-bottom-20 upload-avatar" id="my-avatar" <% if (user.avatar) { %> style="background-image: url(<%= user.avatar %>) <% } %>">
            </div>
            <span class="btn btn-success fileinput-button">
              <span>Télécharger</span>
              <input id="fileupload" type="file" name="images"/>
            </span>
          </form>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 mg-top-20 bg-white">
          <img src="/img/background/favoris.jpg" class="img-responsive" alt="Voir mes favoris" style="padding: 0 34px"/>
          <a href="/favoris/mes-favoris" title="Voir mes favoris" class="txt-orange" style="position: absolute; right: 20px; font-size: 16px; bottom: 13px;">
            <span class="txt-20 txt-cursive">&gt;</span> Voir mes favoris
          </a>
        </div>

        <div class="col-xs-12 mg-top-10 bg-white mg-bottom-20">
          <div data-format="carre" class="load-pub"></div>
        </div>

      </div>
      </div>
    </div>
    </div>
  </div>

  <div class="container mg-bottom-40 bg-white bloc-padding-small">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ttl-h3 bd-grey mg-bottom-20">Vos annonces</h2>
      </div>
    </div>
    <div class="row">
<%  var j = 0;
if (typeof ad !== 'undefined' && ad.length) {
  ad.forEach(function(e) { j++;
  if (j%5 === 1) { %>
      </div><div class="row">
  <% } %>
      <%- partial('../partial/bloc-annonce.ejs', { data: e, mine: true }) %>
<% });
}
if (j%5 === 0) { %>
    </div><div class="row">
<% }
for (var i = (4 - (j%4)); i > 0; i--) { %>
  <div class="col-md-3 col-xs-12 col-sm-6 mg-bottom-20">
    <div class="bloc ">
      <img src="/img/annonce<%= i%>.gif" alt="Déposer une annonce" class="img-responsive pd-20"/>
    </div>
    <p class="txt-20 txt-ttl"></p>
    <p class="txt-16 txt-desc"></p>
  </div>
<% }%>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="/ajouter-une-annonce" title="Déposer une nouvelle annonce" class="txt-20 float-right txt-orange">
          <span class="txt-20 txt-cursive">&gt;</span> Déposer une nouvelle annonce</a>
      </div>
    </div>
  </div>

  <div class="container mg-top-40 mg-bottom-40 bg-white">
    <div class="row">
      <div class="col-xs-6 col-sm-9">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="ttl-h2 bd-grey mg-bottom-30 mg-left-50 mg-top-20">Je fais connaitre ma liste d'annonces</h2>
          </div>
          <div class="col-xs-4">
            <a href="https://www.facebook.com/share.php?u=http://www.babies-pets.fr/mes-petites-annonces-animaux/" target="_blank" rel="nofollow" title="Je fais connaitre ma page sur facebook">
              <img src="/img/fb.png" class="img-responsive" alt="Partager votre page babies-pets sur facebook" style="margin: auto; width: 100px"/>
            </a>
            <p style="text-align: center; font-size: 18px; padding: 20px 0px 0px;">Partage sur facebook</p>
          </div>
          <div class="col-xs-4">
            <a href="https://twitter.com/intent/tweet?text=Hello%20world" target="_blank" rel="nofollow" title="Je fais connaitre ma page sur twitter">
              <img src="/img/twitter.png" class="img-responsive" alt="Partager votre page babies-pets sur twitter" style="margin: auto; width: 100px"/>
            </a>
            <p style="text-align: center; font-size: 18px; padding: 20px 0px 0px;">Partage sur twitter</p>
          </div>
          <div class="col-xs-4">
            <a href="https://plus.google.com/share?url=http%3A%2F%2Fexample.com%3Fa%3Db%26c%3Dd" target="_blank" rel="nofollow" title="Je fais connaitre ma page sur google plus">
              <img src="https://www.gstatic.com/images/icons/gplus-128.png" class="img-responsive" alt="Partager votre page babies-pets sur google plus" style="margin: auto; width: 100px"/>
            </a>
            <p style="text-align: center; font-size: 18px; padding: 20px 0px 0px;">Partage sur google plus</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 bg-ciel txt-center">
        <h2 class="ttl-h2 bd-grey mg-bottom-30 txt-white mg-top-20">Je fais un don</h2>
        <a href="https://soutenir.la-spa.fr/b/mon-don"  target="_blank" title="Je fais un don à la SPA">
          <img src="/img/give.png" class="img-responsive" alt="Faites un don pour les animaux"/>
        </a>
      </div>
    </div>
  </div>

<%- partial ('../partial/pub-bottom.ejs') %>
<%- partial ('../layout/footer.ejs') %>

<link rel="stylesheet" href="/styles/trumbowyg.min.css"/><link rel="stylesheet" href="/styles/jquery.Jcrop.css"/>
